
.page-header{
  width: 1280px;
  height: 680px;
  background: tomato;

  /* create a flex row */
  display: flex;
}

.logo-socials-left-nav{
  width:155px;
  height: 100%;
  background: #fff;
  padding: 32px 32px 40px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-socials-left-nav > .logo {
  width: 69px;
  height: 56px;
}

.logo-socials-left-nav > .socials {
  width: 15px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.logo-socials-left-nav > .socials > p {
  transform: rotate(270deg);

}
.logo-socials-left-nav > .socials > p:hover {
  color: tomato;
  cursor: pointer;
}

.logo-socials-left-nav > .socials > .line {
  min-width: 4px;
  height: 50px;
  background: gray;
}

.hero-container{
  width: calc(100% - 155px);
  height: 100%;
  background: slateblue;
  padding: 40px 55px 40px 54px;
  
  /* create a flex column */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #252628;
  background-image: url('/images/hero-background.png');
}

.nav-and-contact-wrapper{
  color: #FFFFFF;
  width: 100%;
  height: 48px;

  /* create a flex row */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar{  
  /* create a flex row */
  display: flex;
  
  align-items: center;
  width: calc(100% - 321px - 244px);
  
}

.navbar ul {
  /* create a flex row */
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  
}

.navbar ul a {
  text-decoration: none;
  color: #FFFFFF;
}

.navbar > .nav-item {
  flex-basis: 300px;
}

.nav-contact{
  display: flex;
  width: 330px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.nav-contact > a{
  text-decoration: none;
  color: #FFFFFF;
}

.contact-us-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
}

.header-text-container{
  width: 100%;
  height: 202px;
  display: flex;
  }

.header-text{
  flex-basis: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-text > p:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin: 0;
}

.header-text > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: 0;
}

.header-text > p:last-child{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  margin: 0;
}

.hero-slider-container{
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: flex-end;
}

.hero-slider-container > div{
  width: 60px;
  min-height: 24px;
}

.hero-slider-container > div:nth-child(1){
  margin-right: 26px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  color: rgba(157, 164, 189, 0.6);
}

.hero-slider-container > div:nth-child(2){
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  text-align: end;
}

.hero-slider-tabs{
  flex-basis: 20%;
  padding: 81px 0px 119px calc(20% - 18px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 12px;
}

.hero-slider-tabs > div {
  background: rgba(255, 255, 255, 1);
}

.hero-slider-tabs > div:nth-child(1) {
  width: 18px;
  min-height: 2px;
}

.hero-slider-tabs > div:nth-child(2) {
  width: 8px;
  min-height: 2px;
}

.hero-slider-tabs > div:nth-child(3) {
  width: 8px;
  min-height: 2px;
}

.rect-icon {
  display: inline-flex;
  align-items: center;
}

.rect-icon::before,
.rect-icon::after {
  content: "";
  width: 60px;
  height: 2px;
  background-size: contain;
}

.rect-icon::before {
  margin-right: 16px;
  background: rgba(157, 164, 189, 0.6);
}

.about {
  width: 100%;
  height: 705px;
  padding: 130px 55px;
}
.about .content{
  width: 100%;
  height: 100%;
  display: flex;
}

.content .images {
  width: 570px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.content .info {
  width: calc(100% - 64px);
  height: 100%;
  margin-left: 64px;
}

.info > p:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin: 0px 0px 20px 0px;
}

.info > p:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #555555;
  margin: 0px 0px 20px 0px;
}

.info > p:nth-child(3) {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #555555;
  margin: 0;
}

.info > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;
  margin: 0px 0px 20px 0px;
}

.info > .contact-us-btn{
  color: #303030;
  margin-top: 40px;
}











/* test */

.icon:hover {
  fill: tomato;
}